* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: relative;
}

footer {
    background: red;
}

a {
    text-decoration: none;
}

/* NAV STYLE */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid #202020;
    position: relative;
    z-index: 50;
}

.brand {
    font-size: 5em;
}

.nav-btn {
    font-size: 3em;
    margin-right: 20px;
}

.nav-btn:hover {
    cursor: pointer;
}

.nav-btn:active {
    opacity: 0.5;
}

.nav-menu {
    /* height: 100vh; */
    width: 100vw;
    position: absolute;
    transform: translateY(-500px);
    background-color: rebeccapurple;
    font-size: 3em;
    padding: 20px 15px;
}

.nav-menu-active {
    transition: ease .4s;
    transform: translateY(0);
}

.nav-item {
    /* margin-top: 15px; */
}


/* PAGE CITA STYLE */

.cita-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0 10px 0 0; */
    margin-bottom: 50px;
}

.cita-container h1 {
    min-width: 80%;
    text-align: center;
    margin: 1.2em 0 1.1em;
    padding-bottom: 0.4em;
    border-bottom: 2px solid #202020;
    font-size: 2.2em;
}

.form-cita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cita-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 30px; */
    padding: 15px 0;
    position: relative;
    overflow: hidden;
}

.cita-section h2 {
    font-size: 2em;
}

.inputBox {
    position: relative;
    width: 300px;
    margin: 0.8em 0;
    display: flex;
    align-items: center;
}

.inputBox input {
    width: 100%;
    padding: 20px 20px;
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    line-height: 20px;
}

.inputBox span {
    position: absolute;
    left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(100, 100, 100, 0.8);
    text-transform: uppercase;
    transition: all 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #3498db;
    transform: translateX(2px) translateY(-27px);
    font-size: 1em;
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid #3498db;
    border-right: 1px solid #3498db;
}

.divParaBtnMascotas .datos-mascota  {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    border-radius: 5px;
    position: relative;
    width: 270px;
}

.divParaBtnMascotas .datos-mascota .inputBox {
    width: 250px;
}

.divParaBtnMascotas {
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
}

.btnBorrarMascota {
    position: relative;
    align-self: center;
    height: 150px;
    width: 30px;
}

.toggle-seg-num {
    display: none;
}

.agregar-mas {
    position: relative;
    width: 300px;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 0.8em;
}

.agregar-mas button {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 5px;
    font-size: 1em;
}

.btn-quitar-seg-num {
    border: none !important;
    background: rgba(240, 40, 40, 1);
    color: #fff;
}

.servicio-select {
    position: relative;
    width: 300px;
    line-height: 20px;
    padding: 20px;
    border: 1px solid rgba(100, 100, 100, 1);
    border-radius: 5px;
    color: rgba(100, 100, 100, 0.8);
    text-transform: uppercase;
    margin: 0.8em 0;
}

.servicio-select label {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.slide {
    position: relative;
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    bottom: -20px;
}

.slide li {
    padding: 20px 0;
    border-top: 1px solid rgba(100, 100, 100, 1);
}

#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}

#touch:checked+.slide {
    height: 245px;
}

/*  */

.horario-container {
    display: flex;
    align-items: center;
    width: 300px;
    font-size: 1.2em;
    height: 80px;
    outline: 3px solid #505050;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px 0 10px;
}

.horario-container div {
    padding: 10px 20px;
    font-size: 1.3em;
    width: 5em;
    margin-right: 40%;
}

/* .horario-container label {
    padding: 10px 20px;
    font-size: 1.3em;
    width: 5em;
    margin-right: 45%;
} */

.horario-container input {
    /* width: 300px; */
    display: none;
}

/* .horario-cont-fecha {
    width: 300px;
    width: 100%;
}

.horario-cont-hora {
    width: 100%;

} */

#btnAgendar {
    padding: 15px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 15px 0;
    background: #fff;
    font-size: 1.2em;
}

#btnAgendar:focus {
    /* border-color: #008296; */
}









/* MODAL CONFIRMACION CITA */

.toggleDisplay {
    display: none;
}

.confirmacion-cita-modal {
    height: 100vh;
    background-color: wheat;
}

.confirmacion-cita-container {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.confirmacion-cita-container>button {
    display: inline-block;
}