<header>
    <div class="header-container">
        <div class="brand">
            <a href="/">Brand</a>
        </div>
        <div class="nav-btn" id="btnNav">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <nav class="nav-menu toggleDisplay">
        <ul>
            <li class="nav-item"><a href="/agendar-una-cita">Agendar una cita</a></li>
        </ul>
    </nav>
</header>
